#columns {
	-webkit-column-count: 5;
	-webkit-column-gap: 15px;
	-webkit-column-fill: auto;
	-moz-column-count: 5;
	-moz-column-gap: 15px;
	-moz-column-fill: auto;
	column-count: 5;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
}

.card-image-pin {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}
.card-content{
	padding: 10px !important;
}
.pin-p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
	}
  #index-banner .section {
    top: 10%;
  }
  #columns{
  	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
  }
  .card-content{
  	padding: 5px !important;
  	margin: 5px;
  }
  .pin{
  	padding: 15px;
  	width: 90%;
  	margin: 10px !important;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #columns{
  	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	margin: 10px;
  }
  .card-content{
  	padding: 2px !important;
  	margin: 2px;
  }
  .pin{
  	padding: 10px;
  	width: 90%;
  	margin: 10px !important;
  }
}